In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('pizza.xlsx')

In [3]:
df.head(35)

,order_details_id,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
5,6,2,thai_ckn_l,1,2015-01-01,11:57:40,20.75,20.75,L,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha...",The Thai Chicken Pizza
6,7,3,ital_supr_m,1,2015-01-01,12:12:28,16.50,16.50,M,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
7,8,3,prsc_argla_l,1,2015-01-01,12:12:28,20.75,20.75,L,Supreme,"Prosciutto di San Daniele, Arugula, Mozzarella...",The Prosciutto and Arugula Pizza
8,9,4,ital_supr_m,1,2015-01-01,12:16:31,16.50,16.50,M,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
9,10,5,ital_supr_m,1,2015-01-01,12:21:30,16.50,16.50,M,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
10,11,6,bbq_ckn_s,1,2015-01-01,12:29:36,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza
11,12,6,the_greek_s,1,2015-01-01,12:29:36,12.00,12.00,S,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic...",The Greek Pizza
12,13,7,spinach_supr_s,1,2015-01-01,12:50:37,12.50,12.50,S,Supreme,"Spinach, Red Onions, Pepperoni, Tomatoes, Arti...",The Spinach Supreme Pizza
13,14,8,spinach_supr_s,1,2015-01-01,12:51:37,12.50,12.50,S,Supreme,"Spinach, Red Onions, Pepperoni, Tomatoes, Arti...",The Spinach Supreme Pizza
14,15,9,classic_dlx_s,1,2015-01-01,12:52:01,12.00,12.00,S,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
15,16,9,green_garden_s,1,2015-01-01,12:52:01,12.00,12.00,S,Veggie,"Spinach, Mushrooms, Tomatoes, Green Olives, Fe...",The Green Garden Pizza
16,17,9,ital_cpcllo_l,1,2015-01-01,12:52:01,20.50,20.50,L,Classic,"Capocollo, Red Peppers, Tomatoes, Goat Cheese,...",The Italian Capocollo Pizza
17,18,9,ital_supr_l,1,2015-01-01,12:52:01,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
18,19,9,ital_supr_s,1,2015-01-01,12:52:01,12.50,12.50,S,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
19,20,9,mexicana_s,1,2015-01-01,12:52:01,12.00,12.00,S,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
20,21,9,spicy_ital_l,1,2015-01-01,12:52:01,20.75,20.75,L,Supreme,"Capocollo, Tomatoes, Goat Cheese, Artichokes, ...",The Spicy Italian Pizza
21,22,9,spin_pesto_l,1,2015-01-01,12:52:01,20.75,20.75,L,Veggie,"Spinach, Artichokes, Tomatoes, Sun-dried Tomat...",The Spinach Pesto Pizza
22,23,9,veggie_veg_s,1,2015-01-01,12:52:01,12.00,12.00,S,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",The Vegetables + Vegetables Pizza
23,24,10,mexicana_l,1,2015-01-01,13:00:15,20.25,20.25,L,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
24,25,10,southw_ckn_l,1,2015-01-01,13:00:15,20.75,20.75,L,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja...",The Southwest Chicken Pizza
25,26,11,bbq_ckn_l,1,2015-01-01,13:02:59,20.75,20.75,L,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza
26,27,11,cali_ckn_l,1,2015-01-01,13:02:59,20.75,20.75,L,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ...",The California Chicken Pizza
27,28,11,cali_ckn_m,1,2015-01-01,13:02:59,16.75,16.75,M,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ...",The California Chicken Pizza
28,29,11,pepperoni_l,1,2015-01-01,13:02:59,15.25,15.25,L,Classic,"Mozzarella Cheese, Pepperoni",The Pepperoni Pizza
29,30,12,cali_ckn_l,1,2015-01-01,13:04:41,20.75,20.75,L,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ...",The California Chicken Pizza
30,31,12,cali_ckn_s,1,2015-01-01,13:04:41,12.75,12.75,S,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ...",The California Chicken Pizza
31,32,12,ckn_pesto_l,1,2015-01-01,13:04:41,20.75,20.75,L,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli...",The Chicken Pesto Pizza
32,33,12,ital_supr_m,1,2015-01-01,13:04:41,16.50,16.50,M,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
33,34,13,mexicana_l,1,2015-01-01,13:11:55,20.25,20.25,L,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
34,35,14,the_greek_s,1,2015-01-01,13:14:19,12.00,12.00,S,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic...",The Greek Pizza

In [4]:
df['year'] = df['order_date'].dt.year
df['month'] = df['order_date'].dt.month
df['day'] = df['order_date'].dt.day_name()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_details_id   48620 non-null  int64
 1   order_id           48620 non-null  int64
 2   pizza_id           48620 non-null  object
 3   quantity           48620 non-null  int64
 4   order_date         48620 non-null  datetime64[ns]
 5   order_time         48620 non-null  object
 6   unit_price         48620 non-null  float64
 7   total_price        48620 non-null  float64
 8   pizza_size         48620 non-null  object
 9   pizza_category     48620 non-null  object
 10  pizza_ingredients  48620 non-null  object
 11  pizza_name         48620 non-null  object
 12  year               48620 non-null  int32
 13  month              48620 non-null  int32
 14  day                48620 non-null  object
dtypes: datetime64[ns](1), float64(2), int32(2), int64(3), object(7)
memory usage: 5.2+ MB

In [16]:
import pandas as pd

# Assume que votre DataFrame est stocké dans une variable df

# Combinez 'order_date' et 'order_time' en une seule colonne 'combined_datetime'
df['combined_datetime'] = pd.to_datetime(df['order_date'].astype(str) + ' ' + df['order_time'].astype(str))

# Calculer la durée totale de traitement pour chaque commande
df['total_processing_time'] = (df.groupby('order_id')['combined_datetime'].transform('max') - df.groupby('order_id')['combined_datetime'].transform('min')).dt.total_seconds() / 60

# Afficher le DataFrame avec la durée totale de traitement
print(df[['order_id', 'order_date', 'order_time', 'combined_datetime', 'total_processing_time']])

       order_id order_date order_time   combined_datetime  \
0             1 2015-01-01   11:38:36 2015-01-01 11:38:36
1             2 2015-01-01   11:57:40 2015-01-01 11:57:40
2             2 2015-01-01   11:57:40 2015-01-01 11:57:40
3             2 2015-01-01   11:57:40 2015-01-01 11:57:40
4             2 2015-01-01   11:57:40 2015-01-01 11:57:40
...         ...        ...        ...                 ...
48615     21348 2015-12-31   21:23:10 2015-12-31 21:23:10
48616     21348 2015-12-31   21:23:10 2015-12-31 21:23:10
48617     21348 2015-12-31   21:23:10 2015-12-31 21:23:10
48618     21349 2015-12-31   22:09:54 2015-12-31 22:09:54
48619     21350 2015-12-31   23:02:05 2015-12-31 23:02:05

       total_processing_time
0                        0.0
1                        0.0
2                        0.0
3                        0.0
4                        0.0
...                      ...
48615                    0.0
48616                    0.0
48617                    0.0
48618                    0.0
48619                    0.0

[48620 rows x 5 columns]

In [17]:
df

,order_details_id,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,year,month,day,combined_datetime,total_processing_time
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza,2015,1,Thursday,2015-01-01 11:38:36,0.0
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza,2015,1,Thursday,2015-01-01 11:57:40,0.0
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza,2015,1,Thursday,2015-01-01 11:57:40,0.0
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza,2015,1,Thursday,2015-01-01 11:57:40,0.0
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,2015,1,Thursday,2015-01-01 11:57:40,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48615,48616,21348,ckn_alfredo_m,1,2015-12-31,21:23:10,16.75,16.75,M,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza,2015,12,Thursday,2015-12-31 21:23:10,0.0
48616,48617,21348,four_cheese_l,1,2015-12-31,21:23:10,17.95,17.95,L,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza,2015,12,Thursday,2015-12-31 21:23:10,0.0
48617,48618,21348,napolitana_s,1,2015-12-31,21:23:10,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza,2015,12,Thursday,2015-12-31 21:23:10,0.0
48618,48619,21349,mexicana_l,1,2015-12-31,22:09:54,20.25,20.25,L,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,2015,12,Thursday,2015-12-31 22:09:54,0.0
48619,48620,21350,bbq_ckn_s,1,2015-12-31,23:02:05,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza,2015,12,Thursday,2015-12-31 23:02:05,0.0

In [18]:
df['order_time']

0        11:38:36
1        11:57:40
2        11:57:40
3        11:57:40
4        11:57:40
           ...
48615    21:23:10
48616    21:23:10
48617    21:23:10
48618    22:09:54
48619    23:02:05
Name: order_time, Length: 48620, dtype: object

2. Informations de base :
a. Combien de pizzas uniques (pizza_id distincts) y a-t-il dans le jeu de
données ?

In [9]:
df['pizza_id'].nunique()

91

b. Combien de commandes uniques (order_id distincts) figurent dans le jeu
de données ?

In [10]:
df['order_id'].nunique()

21350

3. Analyse temporelle :
a. Quelle est la plage de dates dans le jeu de données ?

In [11]:
df['order_date'].min()

Timestamp('2015-01-01 00:00:00')

In [12]:
df['order_date'].max()

Timestamp('2015-12-31 00:00:00')

b. Combien de commandes ont été passées chaque jour ?

In [13]:
df.groupby('order_date')['order_id'].count()

order_date
2015-01-01    161
2015-01-02    160
2015-01-03    154
2015-01-04    106
2015-01-05    121
             ...
2015-12-27     87
2015-12-28    102
2015-12-29     77
2015-12-30     73
2015-12-31    171
Name: order_id, Length: 358, dtype: int64

In [14]:
df

,order_details_id,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,year,month,day,combined_datetime,total_processing_time
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza,2015,1,Thursday,2015-01-01 11:38:36,0.0
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza,2015,1,Thursday,2015-01-01 11:57:40,0.0
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza,2015,1,Thursday,2015-01-01 11:57:40,0.0
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza,2015,1,Thursday,2015-01-01 11:57:40,0.0
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,2015,1,Thursday,2015-01-01 11:57:40,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48615,48616,21348,ckn_alfredo_m,1,2015-12-31,21:23:10,16.75,16.75,M,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza,2015,12,Thursday,2015-12-31 21:23:10,0.0
48616,48617,21348,four_cheese_l,1,2015-12-31,21:23:10,17.95,17.95,L,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza,2015,12,Thursday,2015-12-31 21:23:10,0.0
48617,48618,21348,napolitana_s,1,2015-12-31,21:23:10,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza,2015,12,Thursday,2015-12-31 21:23:10,0.0
48618,48619,21349,mexicana_l,1,2015-12-31,22:09:54,20.25,20.25,L,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,2015,12,Thursday,2015-12-31 22:09:54,0.0
48619,48620,21350,bbq_ckn_s,1,2015-12-31,23:02:05,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza,2015,12,Thursday,2015-12-31 23:02:05,0.0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   order_details_id       48620 non-null  int64
 1   order_id               48620 non-null  int64
 2   pizza_id               48620 non-null  object
 3   quantity               48620 non-null  int64
 4   order_date             48620 non-null  datetime64[ns]
 5   order_time             48620 non-null  object
 6   unit_price             48620 non-null  float64
 7   total_price            48620 non-null  float64
 8   pizza_size             48620 non-null  object
 9   pizza_category         48620 non-null  object
 10  pizza_ingredients      48620 non-null  object
 11  pizza_name             48620 non-null  object
 12  year                   48620 non-null  int32
 13  month                  48620 non-null  int32
 14  day                    48620 non-null  object
 15  combined_datetime      48620 non-null  datetime64[ns]
 16  total_processing_time  48620 non-null  float64
dtypes: datetime64[ns](2), float64(3), int32(2), int64(3), object(7)
memory usage: 5.9+ MB

c. Quelle est la durée moyenne pour traiter une commande ?

In [31]:
import pandas as pd
from datetime import datetime

# Convertissez la colonne order_time en objets datetime
df['order_time'] = pd.to_datetime(df['order_time'], format="%H:%M:%S")

# Définissez une fonction pour calculer la différence de temps par rapport à la ligne précédente
def calculate_time_difference(row):
    if calculate_time_difference.prev_time is None:
        calculate_time_difference.prev_time = row
        return pd.Timedelta(0)  # Pour la première ligne, la différence est 0
    else:
        time_difference = row - calculate_time_difference.prev_time
        calculate_time_difference.prev_time = row
        return time_difference

# Initialisez la variable statique pour stocker le timestamp précédent
calculate_time_difference.prev_time = None

# Appliquez la fonction à toute la colonne
df['time_difference'] = df['order_time'].apply(calculate_time_difference)

In [34]:
df.groupby(['order_date','order_id']).agg({'time_difference': ['sum', 'mean'], 'order_id': 'count'})

                    time_difference                        order_id
                                sum                   mean    count
order_date order_id
2015-01-01 1        0 days 00:00:00        0 days 00:00:00        1
           2        0 days 00:19:04 0 days 00:03:48.800000        5
           3        0 days 00:14:48        0 days 00:07:24        2
           4        0 days 00:04:03        0 days 00:04:03        1
           5        0 days 00:04:59        0 days 00:04:59        1
...                             ...                    ...      ...
2015-12-31 21346    0 days 00:06:24        0 days 00:01:36        4
           21347    0 days 00:23:30 0 days 00:05:52.500000        4
           21348    0 days 00:08:33        0 days 00:02:51        3
           21349    0 days 00:46:44        0 days 00:46:44        1
           21350    0 days 00:52:11        0 days 00:52:11        1

[21350 rows x 3 columns]